In [66]:
# Importing dependencies 
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
from sqlalchemy import inspect

In [67]:
database_path = 'postgres:Lucille37!@localhost/SQL_HW'
engine = create_engine(f"sqlite:///{database_path}")

In [68]:
# engine = create_engine('postgresql://localhost:5432/SQL_HW')

# database = Lucille37!@localhost/SQL_HW'
engine = create_engine('postgresql://postgres:Lucille37!@localhost/SQL_HW')
conn = engine.connect()


# Query All tables in the the Database
departments_data = pd.read_sql("SELECT * FROM departments", conn)
employees_data = pd.read_sql("SELECT * FROM employees", conn)
salaries_data = pd.read_sql("SELECT * FROM salaries", conn)
titles_data = pd.read_sql("SELECT * FROM titles", conn)
department_manager_data = pd.read_sql("SELECT * FROM department_manager", conn)
department_emp_data = pd.read_sql("SELECT * FROM department_emp", conn)

In [69]:
av_salaries_data = salaries_data.mean()
av_salaries_data

emp_no    253321.763392
salary     52970.732451
dtype: float64

In [75]:
salaries_data

        emp_no  salary
0        10001   60117
1        10002   65828
2        10003   40006
3        10004   40054
4        10005   78228
...        ...     ...
300019  499995   40000
300020  499996   58058
300021  499997   49597
300022  499998   40000
300023  499999   63707

[300024 rows x 2 columns]

In [78]:
# Creating row with emplyee number only 
emp_no_row = salaries_data.loc[:,['emp_no']]

# Checking to make sure emplyee numbers are unique (no emplyees mentioned twice Etc.)
emp_no_row.nunique()

# Creating row with salary only 
salary_row = salaries_data.loc[:,['salary']]

salary    300024
dtype: int64